	@charset="UTF-8";
		body {
}
.box01, .box02 ,.box03 ,.box04 ,.box05, .box06{
	width: 33.33%;
	height: 400px;
	float: left;
overflow: hidden;
}
.box01 {
	background: #fff;
	position: relative;
}
.box01 div {
	color: #fff;
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10%;
}
.box01  p{
	background: rgba(255,255,255,0.6);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 5%;
	padding-left: 5%;
	width: 50%;
	line-height: 2em; 
font-size: 13px;


-webkit-transform: translate(-150%, 0);
-ms-transform: translate(-150%, 0);
-o-transform: translate(-150%, 0);
transform: translate(-150%, 0);
}


.box01:hover  p:nth-of-type(1) {
     -webkit-transition: 0.5s;
     -o-transition: 0.5s;
     transition: 0.5s;
}
.box01:hover p:nth-of-type(2) {
     -webkit-transition: 0.9s;
     -o-transition: 0.9s;
     transition: 0.9s;
}
.box01:hover p:nth-of-type(3) {
     -webkit-transition: 1.3s;
     -o-transition: 1.3s;
     transition: 1.3s;
}
.box01:hover   p {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
}
.box02 {
	position: relative;
}
.box02  div {
	color:#fff;
  width: 80%;
  height: 80%;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 10%;
  margin-left: 10%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.box02 .rotate{
	-webkit-transform:  translate(0,-150%) rotate(0);
-ms-transform:  translate(0,-150%) rotate(0);
-o-transform:  translate(0,-150%) rotate(0);
transform:  translate(0,-150%) rotate(0);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	  margin-top: 10%;
  margin-left: -5%;
	width: 100%;
	height: 100%;
	border: 3px solid #FFF;
}
.box02:hover .rotate{
 -webkit-transform:  translate(0,0)  rotate(360deg);
   -ms-transform:  translate(0,0)  rotate(360deg);
   -o-transform:  translate(0,0)  rotate(360deg);
   transform:  translate(0,0)  rotate(360deg);
   -webkit-transition: 0.3s;
   -o-transition: 0.3s;
   transition: 0.3s;
}
.box02 p {
	opacity: 0;
-webkit-transform: translate(0,100%);
-ms-transform: translate(0,100%);
-o-transform: translate(0,100%);
transform: translate(0,100%);
}
.box02:hover p {
	-webkit-transition: 0.3S;
	-o-transition: 0.3S;
	transition: 0.3S;
	opacity:1;
	-webkit-transform: translate(0,0);
	-ms-transform: translate(0,0);
	-o-transform: translate(0,0);
	transform: translate(0,0);
}
.box03{position: relative;}
.box03 div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 10%;
	padding-left: 10%;
height: 80%;
  width: 80%;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
}
.box03 h3 {
		opacity: 0;
-webkit-transform: skewx(180deg)  ;
-ms-transform: skewx(180deg)  ;
-o-transform: skewx(180deg)  ;
transform: skewx(180deg)  ;
}
.box03:hover h3 {
	opacity: 1;
  -webkit-transform: skewx(0) ;
  -ms-transform: skewx(0) ;
  -o-transform: skewx(0) ;
  transform: skewx(0) ;

	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.box03 p {
	opacity: 0;
	-webkit-transform: skewx(180deg)  ;
-ms-transform: skewx(180deg) ;
-o-transform: skewx(180deg) ;
transform: skewx(180deg) ;
}
.box03:hover p {
	opacity: 1;
	 -webkit-transform: skewx(0);
  -ms-transform: skewx(0);
  -o-transform: skewx(0);
  transform: skewx(0);

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.box04 {position: relative;}
.box04  div{
	color: #fff;
	position: absolute;
  width: 90%;
	height: 80%;
  padding-top: 20%;
  margin-left: 30%;
top: 0;
  left: 0;
}
.box04  div  {
	-webkit-transform:    scale(1, 1);
	-ms-transform:    scale(1, 1);
	-o-transform:    scale(1, 1);
	transform:    scale(1, 1);
	-webkit-transition: all  0.5s;
	-o-transition: all  0.5s;
	transition: all  0.5s;
}
.box04:hover div {
	-webkit-transform:  scale(1.2, 1.2);
	-ms-transform:  scale(1.2, 1.2);
	-o-transform:  scale(1.2, 1.2);
	transform:  scale(1.2, 1.2);

} 
.box04 div div{

	border: 4px solid #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 5%;
	margin-left: -20%;
	opacity: 0;

		-webkit-transform:    scale(1, 1);
	-ms-transform:    scale(1, 1);
	-o-transform:    scale(1, 1);
	transform:    scale(1, 1);
	-webkit-transition: all  0.5s;
	-o-transition: all  0.5s;
	transition: all  0.5s;
	
}
.box04:hover div div {
	-webkit-transform:  scale(0.7, 0.7);
	-ms-transform:  scale(0.7, 0.7);
	-o-transform:  scale(0.7, 0.7);
	transform:  scale(0.7, 0.7);
	opacity: 1;
}
.box05 {background: #red; position: relative;color: #fff;
}
.box05 h3 {
	position: absolute;
	height: 100%;
	width: 100%;
	top:20px;
	left: 20px;	

}
.box05  p {
	height: 100%;
	width: 100%;
	opacity: 0;
position: absolute;
top: 350px;
left: 50%;
 z-index: 1;
 	 -webkit-transition: 0.5s;
 -o-transition: 0.5s;
 transition: 0.5s;
}
.box05:hover p {
	opacity: 1;
}
.box05 .back {
 -webkit-transition: 0.5s;
 -o-transition: 0.5s;
 transition: 0.5s;
	height: 400px;
width: 100%;
	position: absolute;
top: 350px;
left: 0;
background: #4E1418;
 -webkit-transform: skewy(165deg) translatey(100%);
 -ms-transform: skewy(165deg) translatey(100%);
 -o-transform: skewy(165deg) translatey(100%);
 transform: skewy(165deg) translatey(100%);
}

.box05:hover .back {
	opacity: 0.8;
-webkit-transform: translatey(0) skewy(165deg);
-ms-transform: translatey(0) skewy(165deg);
-o-transform: translatey(0) skewy(165deg);
transform: translatey(0) skewy(165deg);
}
.box06 {position: relative; color: #fff;}
.box06 div{
	position: absolute;
top: 40%;
left: 30%;
height: 80%;
width: 80%;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
}
.box06 .lefrigh {
 border-left: 3px solid #FFF;
 border-right: 3px solid #FFF;
 	position: absolute;
  top: -30%;
  left: -15%;
  height: 100%;
  -webkit-transform: translatey(-150%);
  -ms-transform: translatey(-150%);
  -o-transform: translatey(-150%);
  transform: translatey(-150%);

}
.box06:hover .lefrigh {
  -webkit-transform: translatey(0);
  -ms-transform: translatey(0);
  -o-transform: translatey(0);
  transform: translatey(0);
}
.box06 .topbott {
	border-top: 3px solid #FFF;
 border-bottom: 3px solid #FFF;
  	position: absolute;
  	top: -20%;
  left: -25%;
  height: 100%;
  height: 80%;
  width: 100%;
    -webkit-transform: translatex(-150%);
  -ms-transform: translatex(-150%);
  -o-transform: translatex(-150%);
  transform: translatex(-150%);
}
.box06:hover .topbott {
	  -webkit-transform: translatey(0);
  -ms-transform: translatey(0);
  -o-transform: translatey(0);
  transform: translatey(0);
}

div img {
	height: 100%;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
div:hover img {
	margin-left: -20px;
	opacity: 0.3;
}
	@media screen and (max-width: 800px){
		div {
			width: 50%;
		}
	}
	@media screen and (max-width: 500px) {
		div {
			width: 100%;
		}
	}

div ,body{
	margin: 0
}

.box01{background: #aaa;}
.box02{background: #aaa;}
.box03{background: #aaa;}
.box04{background: #aaa;}
.box05{background:#aaa; position: relative;} 
.box06{background: #aaa;}